<section
  class="bg-gradient-to-r from-indigo-700 via-indigo-500 to-indigo-700 w-full h-[40rem] flex items-center justify-center"
>
  <div class="flex flex-row mx-auto w-full h-full justify-center items-center">
    <div class="flex flex-col w-[40%] h-[80%] justify-center gap-5">
      <p
        class="text-indigo-100 text-7xl font-bold leading-snug text-center mx-auto w-[70%] drop-shadow-lg"
      >
        Manage your project better
      </p>

      <p
        class="text-white font-bold text-xl leading-snug text-center mx-auto w-[70%]"
      >
        Discover why companies manage their projects with AppChief. Organize
        your time, calendar, tasks and priorites better.
      </p>
      <button
        class="w-[70%] border-2 border-black mx-auto rounded-lg text-xl p-3 font-bold bg-green-400 shadow-xl"
      >
        Start now
      </button>
      <p class="mx-auto text-white italic">No credit card required</p>
    </div>
    <div class="flex w-[40%] h-[80%] justify-center items-center">
      <div class="w-[30rem]">
        <img
          class="h-full w-full object-cover drop-shadow-xl rounded-xl mx-auto"
          src="../../../assets/images/platform.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
