<!-- <div
  class="flex items-center justify-center flex-col border-2 border-gray-100 shadow-lg rounded-full w-[10rem] h-[10rem]"
>
  <p class="text-5xl text-gray-400 font-bold drop-shadow-md">4</p>
  <p class="text-xl text-gray-400 font-bold drop-shadow-md">projects</p>
</div> -->
<circle-progress
  [percent]="55"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#4882c2'"
  [innerStrokeColor]="'#53a9ff'"
  [animation]="true"
  [animationDuration]="500"
  titleFontSize="20"
  titleFontWeight="bold"
></circle-progress>
