<div
  class="box w-[full] mt-[-3rem] h-[40rem] bg-red-100 flex justify-center items-center border-2 border-black"
>
  <div name="left text">
    <p>The easiest free time manager online</p>
    <p>
      TeamGantt is the only plan-first work management platform centered around
      a visual timeline. Schedule tasks to the right people at the right time
      with gantt chart software that’s easy to use and fits your team’s
      workflow. Get up and running in minutes—no steep learning curve to slow
      you down!
    </p>
    <button>Make a plan</button>
  </div>
  <div name="image"></div>
</div>
