<div
  class="w-[full] h-fit min-h-[40rem] flex-col lg:flex-row flex justify-center items-center flex-wrap"
>
  <div
    name="left text"
    class="w-full lg:w-[50%] mt-5 flex flex-col items-center justify-center gap-7"
  >
    <p
      class="lg:text-5xl md:text-3xl text-2xl text-center font-extrabold w-[50%]"
    >
      The easiest
      <span
        class="py-2 bg-gradient-to-r from-cyan-500 to-blue-500 inline-block text-transparent bg-clip-text"
      >
        free work manager</span
      >
      online
    </p>
    <p class="w-[50%] tracking-wide font-semibold text-center">
      AppChief is the only plan-first work management platform centered around a
      visual timeline. Schedule tasks to the right people at the right time with
      gantt chart software that iss easy to use and fits your teams workflow.
      Get up and running in minutes—no steep learning curve to slow you down!
    </p>

    <a
      routerLink="/user-dashboard/calendar"
      class="w-[50%] px-12 py-3 rounded-md shadow-xl border-2 border-black bg-gradient-to-r from-cyan-500 to-blue-500 font-bold text-white text-center"
    >
      See working demo
    </a>
  </div>
  <div
    name="image"
    class="w-[50%] flex flex-col items-center justify-center mt-5"
  >
    <div class="w-[15rem] m-5 md:m-0 md:w-[25rem] shadow-lg">
      <img
        class="h-full w-full object-cover drop-shadow-xl rounded-xl mx-auto"
        src="../../../assets/images/calendar.jpg"
        alt=""
      />
    </div>
  </div>
</div>
