<div
  class="box w-[full] mt-[-3rem] h-[40rem] flex justify-center items-center border-2 border-black"
>
  <div
    name="left text"
    class="w-[50%] flex flex-col items-center justify-center gap-7"
  >
    <p class="text-5xl text-center font-extrabold w-[50%]">
      The easiest
      <span
        class="py-2 bg-gradient-to-r from-cyan-500 to-blue-500 inline-block text-transparent bg-clip-text"
      >
        free work manager</span
      >
      online
    </p>
    <p class="w-[50%] tracking-wide font-semibold text-center">
      AppChief is the only plan-first work management platform centered around a
      visual timeline. Schedule tasks to the right people at the right time with
      gantt chart software that iss easy to use and fits your teams workflow.
      Get up and running in minutes—no steep learning curve to slow you down!
    </p>
    <button
      class="w-[50%] px-12 py-3 rounded-md shadow-xl border-2 border-black bg-gradient-to-r from-cyan-500 to-blue-500 font-bold text-white"
    >
      See working demo
    </button>
  </div>
  <div name="image" class="w-[50%] flex flex-col items-center justify-center">
    <div class="w-[25rem] shadow-lg">
      <img
        class="h-full w-full object-cover drop-shadow-xl rounded-xl mx-auto"
        src="../../../assets/images/calendar.jpg"
        alt=""
      />
    </div>
  </div>
</div>
