<div class="bg-indigo-50 w-full h-full" cdkDropListGroup>
  <div class="example-container">
    <h2>To do</h2>

    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of todo; track item) {
      <!-- <div class="example-box" cdkDrag>{{ item }}</div> -->
      <app-drag-drop-item [title]="item" cdkDrag></app-drag-drop-item>
      }
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="done"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of done; track item) {
      <!-- <div class="example-box px-3 py-2 text-center font-semibold" cdkDrag>
        {{ item }}
      </div> -->
      <app-drag-drop-item [title]="item" cdkDrag></app-drag-drop-item>
      }
    </div>
  </div>
</div>
