<div>
  <div class="box w-[full] h-[10rem] bg-indigo-500"></div>
  <div
    class="box1 w-[full] h-[10rem] bg-indigo-800 mt-[-10rem] relative z-0 flex flex-col items-start justify-center"
  >
    <div class="text-container absolute mt-7 ml-[60%] md:ml-[55%] lg:ml-[50%]">
      <p class="text-white font-semibold text-lg text-center">
        Made for learning purposes
      </p>
      <p class="text-white font-semibold text-lg text-center">
        Code at <a href="">github</a>
      </p>
    </div>
  </div>
</div>
