<nav>
  <div class="p-5 border-b-2 border-gray-200 flex items-center">
    <app-logo></app-logo>
    <ul class="flex w-full md:w-[70%] mx-auto justify-evenly">
      @for (title of titles; track title) {
      <app-navbar-list-item [title]="title"></app-navbar-list-item>
      } @empty {
      <app-navbar-list-item>There is no title.</app-navbar-list-item>
      }
    </ul>
    <div class="flex gap-5">
      <app-base-button-light title="Log in"></app-base-button-light>
      <app-base-button-dark title="Sign in"></app-base-button-dark>
    </div>
  </div>
</nav>
