<div>
  <div
    class="my-5 flex h-[5rem] items-center justify-center transition-all duration-300 hover:scale-105"
  >
    <div name="left" class="w-[30%] rounded-3xl border-2 border-teal-200"></div>
    <div
      name="center text"
      class="tranisition-all rounded-full bg-teal-100 px-5 py-2 text-center font-semibold text-teal-500 duration-300 hover:text-teal-700 text-xl"
    >
      2024
    </div>
    <div name="right" class="w-[30%] border-2 border-teal-100"></div>
  </div>
  <div name="long term goals container">long term goals</div>
</div>
